.slide {
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button-holder {
  height: 90%;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.button-holder button {
  cursor: pointer;
  border: none;
  background-color: #223430;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 15px;
}

@media (max-width: 500px) {
  .slide {
    height: 45vh;
  }

  .button-holder button {
    font-size: 12px;
    padding: 10px 20px;
  }
}
