.product-section {
  margin-bottom: 145px;
}

.product-section h2 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 50px;
}

.product-card {
  margin: auto;
  width: 35%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  color: black;
}

.product-details {
  padding: 20px 10px;
  text-align: left;
}

.product-details h3 {
  font-size: 25px;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
}

.product-buttons button {
  border: 2px solid black;
  padding: 15px 25px;
  background-color: rgba(0, 128, 0, 0);
  cursor: pointer;
}

@media (max-width: 900px) {
  .product-card {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .product-card {
    width: 85%;
  }
}
