.about {
  max-width: 100vw;
  padding: 105px 0;
}

.about-text {
  width: 80%;
  text-align: center;
  margin: auto;
  color: #545353;
}

.about-text h2 {
  font-size: 37px;
  font-weight: bold;
}

.about-text p {
  font-size: 20px;
  width: 100%;
  margin: auto;
  color: black;
  font-weight: bold;
}

@media (max-width: 800px) {
  .about-text p {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .about-text {
    width: 85%;
  }
}
