.nav {
  background-color: #ffffff;
  font-size: 16px;
}

.full-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.logo img {
  width: 150px;
}

.logo li {
  list-style: none;
}

.page-links {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  flex-wrap: wrap;
}

.page-links li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 25px;
}

.menu-icon {
  display: none;
  transform: rotate(180deg);
  transform: scaleX(-1);
}

.flags-and-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flags-and-socials li {
  list-style: none;
  margin-right: 10px;
}

.dropdown {
  margin: 0;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 4;
}

.dropdown.open {
  max-height: 350px;
}

.dropdown li {
  margin-top: 35px;
}

@media (max-width: 850px) {
  .nav {
    padding: 10px;
    font-size: 18px;
  }

  .page-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .logo img {
    width: 100px;
  }

  .flags-and-socials li {
    margin-right: 5px;
  }

  .flags-and-socials img {
    width: 15px;
  }
}
