@font-face {
  font-family: "Brevia-Regular";
  src: url("./fonts/brevia-font-family-1699511975-0/HvDTrial_Brevia-Regular-BF6493a40670f4b.otf")
    format("opentype");
}

@font-face {
  font-family: "Brevia-Bold";
  src: url("./fonts/brevia-font-family-1699511975-0/HvDTrial_Brevia-Bold-BF6493a4067c1a1.otf")
    format("opentype");
}

.App {
  text-align: center;
  font-family: "Brevia-Bold";
  background-color: #f3bc16;
}

a {
  text-decoration: none;
  color: black;
}

.red a {
  color: #ed1b24;
}

.green a {
  color: #2bb673;
}

.green {
  color: #2bb673;
}

.red {
  color: #ed1b24;
}
